@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.rajat{
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  margin: 0;
}
.container3 {
  text-align: center;
  margin: 40px 500px;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color:#999;
    height: 30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #e0e0e0;
    transition: 0.4s ease;
    user-select: none;

}
.circle.active{
    border-color: #3498db;

}

.btn{
    background-color:#3498db ;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor:pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin:5px;
    font-size: 14px;


}

.btn:active{
    transform: scale(0.9);
}

.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}